@model ProductManagement.Admin.Models.CategoryPageModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategori Detay</h2>

@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{

    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Id)</td>
            <td>@Html.TextBoxFor(m => m.Id)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Kaydet" />
            </td>
        </tr>
    </table>
}
